
#card {
    text-align: center;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px 0 #235485;
}

img {
    width: 60%;
    margin: auto;
    box-shadow: 4px 4px 13px #235485;
}

p#cellulare {
    font-family:arial;
    font-size: 15px;
    color: #114d7e;
}

p#posizione {
    font-family:arial;
    font-size: 18px;
}

p#indirizzoazienda {
    font-family:arial;
    color: #114d7e;
    font-size: 15px;
}

#nome {
    font-size: 26px;
    color: #0f4674;
}

#lavoro { 
    color: grey;
    font-size: 22px;
}

#posizione {
    color: black;
    font-size: 18px;
    color: #114d7e;
}

#pulsante {
    background-color: #559bd5;
    padding: 4px;
    margin: 20px;
    font-family:arial;
}

#pulsante a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#social a {
    margin: 5px;
    font-size: 22px;
    color: #114d7e;
}

div#social {
    color: #114d7e;
}
